{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mainapp/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
    </head>
    <body>
        <div class="container"> 
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="form-control btn btn-primary" />
            </form>
            <div class="text-center">
                <a href="{% url 'index' %}" class='btn btn-outline-danger'>cancel</a>
            </div>
        </div>
    </body>
</html>