{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mainapp/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
    </head>
    <body>
        <div class="custom-container"> 
            <h1> Login Page </h1>
            <div class="login-card">
                <form action="" method="POST" class="text-center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="form-control btn btn-primary" />
                </form>
            </div>
        </div>
    </body>
</html>