{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mainapp/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
    </head>
    <body>
        <div class="custom-container"> 
            <div class="login-card">
                <div class="text-center">
                    <h1> Login Page </h1>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    <input type="submit" class="form-control btn btn-primary" />
                </form>
                <a href="{% url 'signup' %}">Don't have an account?</a>
            </div>
        </div>
    </body>
</html>