{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'mainapp/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1> Register Page </h1> 
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-control">
                    {{ form.username }}
                </div>
                <div class="form-control">
                    {{ form.password1 }}
                </div>
                
                {{ form.password2 }}
                <input type="submit" class="form-control btn btn-primary" />
            </form>
        </div>
    </body>
</html>